[package]
name = "libipld"
version = "1.0.0"
edition = "2021"
license = "MIT"
description = "Python binding to the Rust IPLD library"
authors = ["Ilya (Marshal) <ilya@marshal.dev>"]
keywords = ["python", "binding", "library", "lib", "ipld", "cid", "multibase", "multihash", "dag", "cbor", "json", "pb", "dag-cbor", "dag-json", "dag-pb"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "libipld"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.19", features = ["anyhow"] }
anyhow = "1.0.75"
futures = "0.3"
libipld = { version = "0.16.0", features = ["dag-cbor", "dag-json", "dag-pb", "derive"] }
iroh-car = "0.4.0"
